<html>
<head>
    <title>Martin Surovčák - About me</title>
</head>
<body>

<div>
    {% block content %}
        
    {% endblock %}
</div>

<div>
    {% block revisions %}

    {% endblock %}
</div>

</body>
</html>