<!DOCTYPE html>
<html lang="en">
<head>
    <title>Martin Surovčák - About me</title>
    <meta charset="utf-8"> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/bootstrap.css">
    <script src="./js/bootstrap.js"></script>
</head>
<body>

<div class="row">
    <div class="col-md-8">
        {% block content %}
        {% endblock %}
    </div>
    <div class="col-md-4">
    {% block revisions %}
    {% endblock %}
    <a href="https://github.com/msurovcak/martin.surovcak.cz">Fork me on Github!</a> |
    <a href="https://twitter.com/msurovcak">Follow me on Twitter</a> |
    <a href="https://raw.githubusercontent.com/msurovcak/martin.surovcak.cz/master/me.yaml">raw</a>
    </div>
</div>

</body>
</html>
